.venv/
outputs/
assets/
poetry.lock
__pycache__/*
src/image_processing/__pycache__/*
src/utils/__pycache__/*
src/classifier/__pycache__/*
output_segmented_images/
labeled/*
custom/*
classified/*
model.pkl